@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 87% 94%;
    --foreground: 202 11% 40%;
    --muted: 44 12% 90%;
    --muted-foreground: 44 12% 30%;
    --popover: 44 87% 91%;
    --popover-foreground: 202 11% 30%;
    --card: 44 87% 92%;
    --card-foreground: 202 11% 35%;
    --border: 44 77% 89%;
    --input: 44 77% 86%;
    --primary: 202 11% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 1% 75%;
    --secondary-foreground: 202 1% 15%;
    --accent: 44 87% 79%;
    --accent-foreground: 44 87% 19%;
    --destructive: 8 84% 26%;
    --destructive-foreground: 8 84% 86%;
    --ring: 202 11% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 206 13% 20%;
    --foreground: 41 32% 75%;
    --muted: 206 12% 24%;
    --muted-foreground: 206 12% 74%;
    --popover: 206 13% 17%;
    --popover-foreground: 41 32% 85%;
    --card: 206 13% 18%;
    --card-foreground: 41 32% 80%;
    --border: 206 3% 25%;
    --input: 206 3% 28%;
    --primary: 41 32% 75%;
    --primary-foreground: 41 32% 15%;
    --secondary: 41 22% 25%;
    --secondary-foreground: 41 22% 85%;
    --accent: 206 13% 35%;
    --accent-foreground: 206 13% 95%;
    --destructive: 4 87% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 41 32% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
  min-height: 600px;
}

.code code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  transition: color 0.5s;
}

pre {
  border-radius: var(--radius);
}

html.dark .shiki, html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
