@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 179 100% 95%;
    --foreground: 179 5% 10%;
    --card: 179 50% 90%;
    --card-foreground: 179 5% 15%;
    --popover: 179 100% 95%;
    --popover-foreground: 179 100% 10%;
    --primary: 179 45% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 179 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 141 30% 85%;
    --muted-foreground: 179 5% 35%;
    --accent: 141 30% 80%;
    --accent-foreground: 179 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 179 5% 90%;
    --border: 179 30% 50%;
    --input: 179 30% 26%;
    --ring: 179 45% 27%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 179 50% 10%;
    --foreground: 179 5% 90%;
    --card: 179 50% 10%;
    --card-foreground: 179 5% 90%;
    --popover: 179 50% 5%;
    --popover-foreground: 179 5% 90%;
    --primary: 179 45% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 179 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 141 30% 25%;
    --muted-foreground: 179 5% 60%;
    --accent: 141 30% 25%;
    --accent-foreground: 179 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 179 5% 90%;
    --border: 179 30% 26%;
    --input: 179 30% 26%;
    --ring: 179 45% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
  min-height: 600px;
}

.code code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  transition: color 0.5s;
}

pre {
  border-radius: var(--radius);
}
