@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 44 87% 94%;
    --foreground: 202 11% 40%;
    --muted: 44 12% 90%;
    --muted-foreground: 44 12% 30%;
    --popover: 44 87% 91%;
    --popover-foreground: 202 11% 30%;
    --card: 44 87% 92%;
    --card-foreground: 202 11% 35%;
    --border: 44 77% 89%;
    --input: 44 77% 86%;
    --primary: 202 11% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 1% 75%;
    --secondary-foreground: 202 1% 15%;
    --accent: 44 87% 79%;
    --accent-foreground: 44 87% 19%;
    --destructive: 8 84% 26%;
    --destructive-foreground: 8 84% 86%;
    --ring: 202 11% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 206 13% 20%;
    --foreground: 41 32% 75%;
    --muted: 206 12% 24%;
    --muted-foreground: 206 12% 74%;
    --popover: 206 13% 17%;
    --popover-foreground: 41 32% 85%;
    --card: 206 13% 18%;
    --card-foreground: 41 32% 80%;
    --border: 206 3% 25%;
    --input: 206 3% 28%;
    --primary: 41 32% 75%;
    --primary-foreground: 41 32% 15%;
    --secondary: 41 22% 25%;
    --secondary-foreground: 41 22% 85%;
    --accent: 206 13% 35%;
    --accent-foreground: 206 13% 95%;
    --destructive: 4 87% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 41 32% 75%;

    &[data-theme="everforest"] {
      --background: 206 13% 20%;
      --foreground: 41 32% 75%;
      --muted: 206 12% 24%;
      --muted-foreground: 206 12% 74%;
      --popover: 206 13% 17%;
      --popover-foreground: 41 32% 85%;
      --card: 206 13% 18%;
      --card-foreground: 41 32% 80%;
      --border: 206 3% 25%;
      --input: 206 3% 28%;
      --primary: 41 32% 75%;
      --primary-foreground: 41 32% 15%;
      --secondary: 41 22% 25%;
      --secondary-foreground: 41 22% 85%;
      --accent: 206 13% 35%;
      --accent-foreground: 206 13% 95%;
      --destructive: 4 87% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 41 32% 75%;

      .shiki {
        color: var(--shiki-everforest_dark) !important;
        background-color: var(--shiki-everforest_dark-bg) !important;

        font-style: var(--shiki-everforest_dark-font-style) !important;
        font-weight: var(--shiki-everforest_dark-font-weight) !important;
        text-decoration: var(--shiki-everforest_dark-text-decoration)
          !important;
      }
    }

    &[data-theme="catppuccin"] {
      --background: 240 21% 15%;
      --foreground: 226 64% 88%;
      --muted: 240 12% 19%;
      --muted-foreground: 240 12% 69%;
      --popover: 240 21% 12%;
      --popover-foreground: 226 64% 98%;
      --card: 240 21% 13%;
      --card-foreground: 226 64% 93%;
      --border: 240 11% 20%;
      --input: 240 11% 23%;
      --primary: 267 84% 81%;
      --primary-foreground: 267 84% 21%;
      --secondary: 267 30% 25%;
      --secondary-foreground: 267 30% 85%;
      --accent: 240 21% 30%;
      --accent-foreground: 240 21% 90%;
      --destructive: 8 96% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 267 84% 81%;
      --radius: 0.5rem;

      .shiki {
        color: var(--shiki-catppuccin_dark) !important;
        background-color: var(--shiki-catppuccin_dark-bg) !important;

        font-style: var(--shiki-catppuccin_dark-font-style) !important;
        font-weight: var(--shiki-catppuccin_dark-font-weight) !important;
        text-decoration: var(--shiki-catppuccin_dark-text-decoration)
          !important;
      }
    }

    &[data-theme="material"] {
      --background: 200 19% 18%;
      --foreground: 180 100% 97%;
      --muted: 200 12% 22%;
      --muted-foreground: 200 12% 72%;
      --popover: 200 19% 15%;
      --popover-foreground: 0 0% 100%;
      --card: 200 19% 16%;
      --card-foreground: 0 0% 100%;
      --border: 200 9% 23%;
      --input: 200 9% 26%;
      --primary: 180 100% 97%;
      --primary-foreground: 180 100% 17%;
      --secondary: 180 30% 25%;
      --secondary-foreground: 180 30% 85%;
      --accent: 200 19% 33%;
      --accent-foreground: 200 19% 93%;
      --destructive: 9 96% 48%;
      --destructive-foreground: 0 0% 100%;
      --ring: 180 100% 97%;

      .shiki {
        color: var(--shiki-material_dark) !important;
        background-color: var(--shiki-material_dark-bg) !important;

        font-style: var(--shiki-material_dark-font-style) !important;
        font-weight: var(--shiki-material_dark-font-weight) !important;
        text-decoration: var(--shiki-material_dark-text-decoration) !important;
      }
    }

    &[data-theme="nord"] {
      --background: 220 16% 22%;
      --foreground: 219 28% 88%;
      --muted: 220 12% 26%;
      --muted-foreground: 220 12% 76%;
      --popover: 220 16% 19%;
      --popover-foreground: 219 28% 98%;
      --card: 220 16% 20%;
      --card-foreground: 219 28% 93%;
      --border: 220 6% 27%;
      --input: 220 6% 30%;
      --primary: 219 28% 88%;
      --primary-foreground: 219 28% 28%;
      --secondary: 219 18% 25%;
      --secondary-foreground: 219 18% 85%;
      --accent: 220 16% 37%;
      --accent-foreground: 220 16% 97%;
      --destructive: 9 90% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 219 28% 88%;
    }

    &[data-theme="github"] {
      --background: 216 28% 7%;
      --foreground: 210 17% 82%;
      --muted: 216 12% 15%;
      --muted-foreground: 216 12% 65%;
      --popover: 216 28% 4%;
      --popover-foreground: 210 17% 92%;
      --card: 216 28% 5%;
      --card-foreground: 210 17% 87%;
      --border: 216 18% 12%;
      --input: 216 18% 15%;
      --primary: 210 17% 82%;
      --primary-foreground: 210 17% 22%;
      --secondary: 210 7% 25%;
      --secondary-foreground: 210 7% 85%;
      --accent: 216 28% 22%;
      --accent-foreground: 216 28% 82%;
      --destructive: 1 86% 57%;
      --destructive-foreground: 0 0% 100%;
      --ring: 210 17% 82%;

      .shiki {
        color: var(--shiki-github_dark) !important;
        background-color: var(--shiki-github_dark-bg) !important;

        font-style: var(--shiki-github_dark-font-style) !important;
        font-weight: var(--shiki-github_dark-font-weight) !important;
        text-decoration: var(--shiki-github_dark-text-decoration) !important;
      }
    }

    &[data-theme="rose-pine"] {
      --background: 246 24% 17%;
      --foreground: 245 50% 91%;
      --muted: 246 12% 21%;
      --muted-foreground: 246 12% 71%;
      --popover: 246 24% 14%;
      --popover-foreground: 0 0% 100%;
      --card: 246 24% 15%;
      --card-foreground: 245 50% 96%;
      --border: 246 14% 22%;
      --input: 246 14% 25%;
      --primary: 245 50% 91%;
      --primary-foreground: 245 50% 31%;
      --secondary: 245 30% 25%;
      --secondary-foreground: 245 30% 85%;
      --accent: 246 24% 32%;
      --accent-foreground: 246 24% 92%;
      --destructive: 3 99% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 245 50% 91%;
      --radius: 0.5rem;

      .shiki {
        color: var(--shiki-rose_pine_dark) !important;
        background-color: var(--shiki-rose_pine_dark-bg) !important;

        font-style: var(--shiki-rose_pine_dark-font-style) !important;
        font-weight: var(--shiki-rose_pine_dark-font-weight) !important;
        text-decoration: var(--shiki-rose_pine_dark-text-decoration) !important;
      }
    }

    &[data-theme="night-owl"] {
      --background: 207 95% 8%;
      --foreground: 217 34% 88%;
      --muted: 207 12% 15%;
      --muted-foreground: 207 12% 65%;
      --popover: 207 95% 5%;
      --popover-foreground: 217 34% 98%;
      --card: 207 95% 6%;
      --card-foreground: 217 34% 93%;
      --border: 207 85% 13%;
      --input: 207 85% 16%;
      --primary: 207 23% 48%;
      --primary-foreground: 0 0% 100%;
      --secondary: 207 13% 75%;
      --secondary-foreground: 207 13% 15%;
      --accent: 207 95% 23%;
      --accent-foreground: 207 95% 83%;
      --destructive: 1 80% 55%;
      --destructive-foreground: 0 0% 100%;
      --ring: 207 23% 48%;
      --radius: 0.5rem;
    }

    &[data-theme="solarized"] {
      --background: 192 100% 11%;
      --foreground: 0 0% 73%;
      --muted: 192 12% 15%;
      --muted-foreground: 192 12% 65%;
      --popover: 192 100% 8%;
      --popover-foreground: 0 0% 83%;
      --card: 192 100% 9%;
      --card-foreground: 0 0% 78%;
      --border: 192 90% 16%;
      --input: 192 90% 19%;
      --primary: 0 0% 100%;
      --primary-foreground: 0 0% 20%;
      --secondary: 0 0% 25%;
      --secondary-foreground: 0 0% 85%;
      --accent: 192 100% 26%;
      --accent-foreground: 0 0% 100%;
      --destructive: 1 86% 58%;
      --destructive-foreground: 0 0% 100%;
      --ring: 0 0% 100%;
      --radius: 0.5rem;

      .shiki {
        color: var(--shiki-solarized_dark) !important;
        background-color: var(--shiki-solarized_dark-bg) !important;

        font-style: var(--shiki-solarized_dark-font-style) !important;
        font-weight: var(--shiki-solarized_dark-font-weight) !important;
        text-decoration: var(--shiki-solarized_dark-text-decoration) !important;
      }
    }
  }

  &[data-theme="everforest"] {
    --background: 44 87% 94%;
    --foreground: 202 11% 40%;
    --muted: 44 12% 90%;
    --muted-foreground: 44 12% 30%;
    --popover: 44 87% 91%;
    --popover-foreground: 202 11% 30%;
    --card: 44 87% 92%;
    --card-foreground: 202 11% 35%;
    --border: 44 77% 89%;
    --input: 44 77% 86%;
    --primary: 202 11% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 1% 75%;
    --secondary-foreground: 202 1% 15%;
    --accent: 44 87% 79%;
    --accent-foreground: 44 87% 19%;
    --destructive: 8 84% 26%;
    --destructive-foreground: 8 84% 86%;
    --ring: 202 11% 40%;

    .shiki {
      color: var(--shiki-everforest_light) !important;
      background-color: var(--shiki-everforest_light-bg) !important;

      font-style: var(--shiki-everforest_light-font-style) !important;
      font-weight: var(--shiki-everforest_light-font-weight) !important;
      text-decoration: var(--shiki-everforest_light-text-decoration) !important;
    }
  }

  &[data-theme="catppuccin"] {
    --background: 220 23% 95%;
    --foreground: 234 16% 35%;
    --muted: 220 12% 90%;
    --muted-foreground: 220 12% 30%;
    --popover: 220 23% 92%;
    --popover-foreground: 234 16% 25%;
    --card: 220 23% 93%;
    --card-foreground: 234 16% 30%;
    --border: 220 13% 90%;
    --input: 220 13% 87%;
    --primary: 266 85% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 266 30% 75%;
    --secondary-foreground: 266 30% 15%;
    --accent: 220 23% 80%;
    --accent-foreground: 220 23% 20%;
    --destructive: 3 87% 37%;
    --destructive-foreground: 3 87% 97%;
    --ring: 266 85% 58%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-catppuccin_light) !important;
      background-color: var(--shiki-catppuccin_light-bg) !important;

      font-style: var(--shiki-catppuccin_light-font-style) !important;
      font-weight: var(--shiki-catppuccin_light-font-weight) !important;
      text-decoration: var(--shiki-catppuccin_light-text-decoration) !important;
    }
  }

  &[data-theme="solarized"] {
    --background: 44 87% 94%;
    --foreground: 0 0% 20%;
    --muted: 44 12% 90%;
    --muted-foreground: 44 12% 30%;
    --popover: 44 87% 91%;
    --popover-foreground: 0 0% 10%;
    --card: 44 87% 92%;
    --card-foreground: 0 0% 15%;
    --border: 44 77% 89%;
    --input: 44 77% 86%;
    --primary: 45 39% 25%;
    --primary-foreground: 45 39% 85%;
    --secondary: 45 29% 75%;
    --secondary-foreground: 45 29% 15%;
    --accent: 44 87% 79%;
    --accent-foreground: 44 87% 19%;
    --destructive: 7 82% 24%;
    --destructive-foreground: 7 82% 84%;
    --ring: 45 39% 25%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-solarized_light) !important;
      background-color: var(--shiki-solarized_light-bg) !important;

      font-style: var(--shiki-solarized_light-font-style) !important;
      font-weight: var(--shiki-solarized_light-font-weight) !important;
      text-decoration: var(--shiki-solarized_light-text-decoration) !important;
    }
  }

  &[data-theme="nord"] {
    --background: 218 27% 94%;
    --foreground: 210 12% 16%;
    --muted: 218 12% 90%;
    --muted-foreground: 218 12% 30%;
    --popover: 217 27% 91%;
    --popover-foreground: 210 12% 6%;
    --card: 217 27% 92%;
    --card-foreground: 210 12% 11%;
    --border: 217 17% 89%;
    --input: 218 17% 86%;
    --primary: 210 13% 21%;
    --primary-foreground: 210 13% 81%;
    --secondary: 210 3% 75%;
    --secondary-foreground: 210 3% 15%;
    --accent: 218 27% 79%;
    --accent-foreground: 218 27% 19%;
    --destructive: 0 90% 29%;
    --destructive-foreground: 0 90% 89%;
    --ring: 210 13% 21%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-nord_light) !important;
      background-color: var(--shiki-nord_light-bg) !important;

      font-style: var(--shiki-nord_light-font-style) !important;
      font-weight: var(--shiki-nord_light-font-weight) !important;
      text-decoration: var(--shiki-nord_light-text-decoration) !important;
    }
  }

  &[data-theme="github"] {
    --background: 0 0% 100%;
    --foreground: 213 13% 16%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 213 13% 6%;
    --card: 0 0% 98%;
    --card-foreground: 213 13% 11%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 213 13% 16%;
    --primary-foreground: 213 13% 76%;
    --secondary: 213 3% 75%;
    --secondary-foreground: 213 3% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 8 86% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 213 13% 16%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-github_light) !important;
      background-color: var(--shiki-github_light-bg) !important;

      font-style: var(--shiki-github_light-font-style) !important;
      font-weight: var(--shiki-github_light-font-weight) !important;
      text-decoration: var(--shiki-github_light-text-decoration) !important;
    }
  }

  &[data-theme="material"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 0 0% 10%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 15%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 174 42% 65%;
    --primary-foreground: 174 42% 5%;
    --secondary: 174 30% 25%;
    --secondary-foreground: 174 30% 85%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 5 84% 23%;
    --destructive-foreground: 5 84% 83%;
    --ring: 174 42% 65%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-material_light) !important;
      background-color: var(--shiki-material_light-bg) !important;

      font-style: var(--shiki-material_light-font-style) !important;
      font-weight: var(--shiki-material_light-font-weight) !important;
      text-decoration: var(--shiki-material_light-text-decoration) !important;
    }
  }

  &[data-theme="rose-pine"] {
    --background: 32 57% 95%;
    --foreground: 248 19% 40%;
    --muted: 32 12% 90%;
    --muted-foreground: 32 12% 30%;
    --popover: 32 57% 92%;
    --popover-foreground: 248 19% 30%;
    --card: 32 57% 93%;
    --card-foreground: 248 19% 35%;
    --border: 32 47% 90%;
    --input: 32 47% 87%;
    --primary: 248 19% 40%;
    --primary-foreground: 248 19% 100%;
    --secondary: 248 9% 75%;
    --secondary-foreground: 248 9% 15%;
    --accent: 32 57% 80%;
    --accent-foreground: 32 57% 20%;
    --destructive: 6 95% 20%;
    --destructive-foreground: 6 95% 80%;
    --ring: 248 19% 40%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-rose_pine_light) !important;
      background-color: var(--shiki-rose_pine_light-bg) !important;

      font-style: var(--shiki-rose_pine_light-font-style) !important;
      font-weight: var(--shiki-rose_pine_light-font-weight) !important;
      text-decoration: var(--shiki-rose_pine_light-text-decoration) !important;
    }
  }

  &[data-theme="night-owl"] {
    --background: 0 0% 98%;
    --foreground: 243 14% 29%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 95%;
    --popover-foreground: 243 14% 19%;
    --card: 0 0% 96%;
    --card-foreground: 243 14% 24%;
    --border: 0 0% 93%;
    --input: 0 0% 90%;
    --primary: 243 14% 29%;
    --primary-foreground: 243 14% 89%;
    --secondary: 243 4% 75%;
    --secondary-foreground: 243 4% 15%;
    --accent: 0 0% 83%;
    --accent-foreground: 0 0% 23%;
    --destructive: 8 94% 20%;
    --destructive-foreground: 8 94% 80%;
    --ring: 243 14% 29%;
    --radius: 0.5rem;

    .shiki {
      color: var(--shiki-night_owl_light) !important;
      background-color: var(--shiki-night_owl_light-bg) !important;

      font-style: var(--shiki-night_owl_light-font-style) !important;
      font-weight: var(--shiki-night_owl_light-font-weight) !important;
      text-decoration: var(--shiki-night_owl_light-text-decoration) !important;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
  min-height: 800px;
}

.code code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  transition: color 0.5s;
}

pre {
  border-radius: var(--radius);
}
