---
import ModeToggle from "./ModeToggle.astro";
---

<footer class="animate p-4">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <div class="text-center md:text-left text-lg font-semibold text-foreground">
      &copy; {new Date().getFullYear()} • HAPPYFMT
      <span
        class="text-sm font-normal lowercase block md:inline md:ml-2 text-muted-foreground"
      >
        by happytoolin
      </span>
    </div>

    <div class="flex space-x-4 text-sm">
      <a
        href="/privacy-policy"
        class="text-foreground hover:text-primary transition-colors duration-200"
      >Privacy Policy</a>
      <span class="hidden md:inline text-foreground">|</span>
      <a
        href="/terms-of-service"
        class="text-foreground hover:text-primary transition-colors duration-200"
      >Terms of Service</a>
    </div>

    <div class="flex space-x-4">
      <ModeToggle />
    </div>
  </div>
</footer>
