---
import LanguageIcon from "@/icons/languages/LanguageIcon.astro";
import ModeToggle from "./ModeToggle.astro";

interface Props {
  language: string;
  minify: boolean;
}

const { language, minify } = Astro.props;

const languageMap: Record<string, string> = {
  csharp: "C#",
  cpp: "C++",
  c: "C",
  java: "Java",
  javascript: "JavaScript",
  typescript: "TypeScript",
  python: "Python",
  go: "Go",
  rust: "Rust",
  lua: "Lua",
  sql: "SQL",
  html: "HTML",
  css: "CSS",
  json: "JSON",
  xml: "XML",
  yaml: "YAML",
  markdown: "Markdown",
  php: "PHP",
  ruby: "Ruby",
  proto: "Protobuf",
};

const title = languageMap[language] || language;
---

<div
  class="flex flex-col items-center justify-center space-y-4 py-8 px-4 md:px-8 bg-linear-to-r rounded-lg shadow-lg"
>
  <div class="flex space-x-4 justify-end items-end w-full -mt-4 gap-4">
    <ModeToggle />
  </div>
  <div
    class="flex flex-col md:flex-row items-center space-x-0 md:space-x-4 space-y-4 md:space-y-0"
  >
    <LanguageIcon icon={language.toLowerCase()} />
    <h1 class="text-2xl md:text-4xl font-bold text-center md:text-left">
      Format or {minify ? "minify" : "beautify"} {title}
    </h1>
  </div>
  <p class="text-base md:text-lg text-center md:text-left">
    Format or {minify ? "minify" : "beautify"} your code in {title} locally in
    your browser using WebAssembly.
  </p>
  <a
    href="#formatter"
    class="mt-4 px-4 md:px-6 py-2 cursor-pointer bg-white text-blue-500 font-semibold rounded-lg shadow-md hover:bg-gray-100 transition duration-300"
  >
    Format your code now!
  </a>
</div>
