---
import { ViewTransitions } from "astro:transitions";
import MoreTools from "../info/moretools.astro";
import Footer from "./Footer.astro";
import Head from "./Head.astro";
import Header from "./header.astro";
import "../../styles/globals.css";
import FormatHeading from "../FormatHeading.astro";

type Props = {
  title: string;
  description: string;
  language: string;
  image?: string;
  minify?: boolean;
};

const { title, description, image, language, minify } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={`${title} | Happy Formatter, the best online formatter`}
      description={description}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <FormatHeading language={language} minify={minify ?? false} />
      <slot />
    </main>
    <MoreTools />
    <Footer />
  </body>
</html>
