---
import Moon from "@/icons/moon.astro";
import Sun from "@/icons/sun.astro";
import Button from "../ui/button.astro";
---

<Button
  id="theme-toggle"
  class="theme-toggle"
  aria-label="Toggle theme"
  variant="outline"
>
  <Sun class="icon h-6 w-6 dark:hidden" />
  <Moon class="icon h-6 w-6 hidden dark:block" />
</Button>

<script>
// const themeToggle = document.getElementById("theme-toggle");

// function toggleTheme() {
//   const baseTheme = document.documentElement.getAttribute("data-theme")
//     || "everforest";
//   const cleanedBaseTheme = baseTheme.split("-")[0];
//   const isDark = document.documentElement.classList.contains("dark");

//   const newTheme = isDark ? cleanedBaseTheme : `${cleanedBaseTheme}-dark`;

//   document.documentElement.classList.toggle("dark");
//   document.documentElement.setAttribute("data-theme", newTheme);
//   localStorage.setItem("theme", isDark ? "light" : "dark");
// }

// const getCurrentTheme = () => {
//   const storedTheme = localStorage.getItem("theme");
//   if (
//     storedTheme === "dark"
//     || (!storedTheme
//       && window.matchMedia("(prefers-color-scheme: dark)").matches)
//   ) {
//     return "dark";
//   }
//   return "light";
// };

// themeToggle?.addEventListener("click", toggleTheme);

// // Initialize theme
// const initialTheme = getCurrentTheme();
// if (initialTheme === "dark") {
//   document.documentElement.classList.add("dark");
//   document.documentElement.setAttribute(
//     "data-theme",
//     `${
//       document.documentElement.getAttribute("data-theme")?.split("-")[0]
//     }-dark`,
//   );
// }
</script>
