---
import Moon from "@/icons/moon.astro";
import Sun from "@/icons/sun.astro";
import Button from "../ui/button.astro";
---

<Button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
  <Sun class="icon h-6 w-6" id="light-icon" />
  <Moon class="icon h-6 w-6 hidden" id="dark-icon" />
</Button>

<script>
const themeToggle = document.getElementById("theme-toggle");
const themes = ["light", "dark"];
let currentThemeIndex = 0;

function applyTheme(newTheme: string) {
  const baseTheme = document.documentElement.getAttribute("data-theme")
    || "everforest";
  const cleanedBaseTheme = baseTheme.split("-")[0];

  const isDark = newTheme === "dark";

  const finalTheme = isDark ? `${cleanedBaseTheme}-dark` : cleanedBaseTheme;

  document.documentElement.classList.toggle("dark", isDark);
  document.documentElement.setAttribute("data-theme", finalTheme);
  localStorage.setItem("theme", finalTheme);

  document.querySelectorAll(".icon").forEach(icon => {
    icon.classList.add("hidden");
  });
  document.getElementById(`${newTheme}-icon`)?.classList.remove("hidden");
}

function setTheme(newTheme: string) {
  applyTheme(newTheme);
  currentThemeIndex = themes.indexOf(newTheme);
}

themeToggle!.addEventListener("click", () => {
  currentThemeIndex = (currentThemeIndex + 1) % themes.length;
  setTheme(themes[currentThemeIndex]);
});

function updateIcon(theme: string) {
  console.log(theme);
  const lightIcon = document.getElementById("light-icon");
  const darkIcon = document.getElementById("dark-icon");

  if (theme === "dark") {
    lightIcon?.classList.add("hidden");
    darkIcon?.classList.remove("hidden");
  } else {
    lightIcon?.classList.remove("hidden");
    darkIcon?.classList.add("hidden");
  }
}

const getCurrentTheme = () => {
  // Check localStorage first
  const storedTheme = localStorage.getItem("theme");
  if (storedTheme) {
    return storedTheme.includes("dark") ? "dark" : "light";
  }

  // Check if the dark class is present on the document element
  if (document.documentElement.classList.contains("dark")) {
    return "dark";
  }

  // Check system preference
  if (
    window.matchMedia
    && window.matchMedia("(prefers-color-scheme: dark)").matches
  ) {
    return "dark";
  }

  // Default to light
  return "light";
};

updateIcon(getCurrentTheme());
</script>
