---
import { themes } from "./themes";
---

<div class="theme-selector relative w-[180px]">
  <select
    id="theme-select"
    class="w-full h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <option value="" disabled selected>Select a theme</option>
    {themes.map((theme) => <option value={theme.value}>{theme.name}</option>)}
  </select>
</div>

<script>
const select = document.getElementById("theme-select") as HTMLSelectElement;
select.value = localStorage.getItem("theme") || "everforest";
select.addEventListener("change", (event) => {
  const newTheme = (event.target as HTMLSelectElement).value;
  const mode = document.documentElement.classList.contains("dark")
    ? "dark"
    : "light";
  const isDark = mode === "dark";
  const finalTheme = isDark ? `${newTheme}-dark` : newTheme;

  document.documentElement.setAttribute("data-theme", finalTheme);
  localStorage.setItem("theme", finalTheme);
});
</script>
