---
import { highlightCode, initializeHighlighter } from "@/lib/highlighter";
import { getInitialCode } from "@/lib/initialCode";
import { scope } from "simple:scope";
import Textarea from "../ui/textarea.astro";
import { inputStore, resetStores } from "./store";

interface Props {
  inputCode: string;
  language: string;
}

const { inputCode, language } = Astro.props;

const input = getInitialCode(language);

const InitialCodeHTMLString = async () => {
  const highlighter = await initializeHighlighter(language);
  return highlightCode(input, highlighter, language);
};

const highlightedHTML = await InitialCodeHTMLString();

resetStores();
---

<RootElement>
  <div
    class="transition-none"
    style="color-scheme: inherit"
    data-target="root"
    data-language={language}
  >
    <div class="relative mt-10 min-h-[800px] max-h-[800px] overflow-auto">
      <Textarea
        aria-label="CodePlayground"
        label="CodePlayground"
        id="codeTextarea"
        class="playground-text whitespace-pre overflow-auto w-full h-full font-mono text-transparent bg-transparent absolute inset-0 py-5 px-6 caret-gray-600 tab-4 resize-none z-20 max-h-[800px] min-h-[800px]"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        data-initial={inputCode}
        value={inputCode}
        target={scope("textarea")}
      />
      <div
        class="block max-h-[800px] overflow-auto min-h-[800px] z-10"
        data-target="highlight"
        id="highlight_code"
        set:html={highlightedHTML}
      />
    </div>
  </div>
</RootElement>

<script>
import { highlightCode, initializeHighlighter } from "@/lib/highlighter";
import { getInitialCode } from "@/lib/initialCode";
import { throttle } from "@/lib/throttle";
import type { Highlighter } from "shiki";
import { inputStore } from "./store";

function syncScroll(
  preElement: HTMLElement | HTMLPreElement,
  textArea: HTMLTextAreaElement,
): void {
  preElement.scrollTop = textArea.scrollTop;
  preElement.scrollLeft = textArea.scrollLeft;
}

function handleInputEvent(
  e: Event,
  throttledHighlight: (code: string) => void,
): void {
  const element = e.target as HTMLTextAreaElement;
  const code = element.value;

  if (code) {
    inputStore.set(code);
    element.classList.remove("text-transparent");
    element.classList.add("text-visible");
    // add background color to the textarea
    // get current background color of the .shiki class
    const shiki = document.querySelector(".shiki") as HTMLElement;
    const backgroundColor = window.getComputedStyle(shiki).backgroundColor;
    const textColor = window.getComputedStyle(shiki).color;
    const textStyle = window.getComputedStyle(shiki).fontFamily;
    const fontSize = window.getComputedStyle(shiki).fontSize;
    element.style.backgroundColor = backgroundColor;
    element.style.color = textColor;
    element.style.fontFamily = textStyle;
    element.style.fontSize = fontSize;
    throttledHighlight(code);
  }
}

function setupEventListeners(
  textArea: HTMLTextAreaElement,
  highlightDiv: HTMLDivElement,
  highlighter: Highlighter,
  language: string,
): void {
  const throttledHighlight = throttle((code: string) => {
    const highlightedCode = highlightCode(code, highlighter, language);
    highlightDiv.innerHTML = highlightedCode;

    const preElement = highlightDiv.querySelector("pre");

    if (!preElement) {
      console.error("No pre element found");
      return;
    }

    textArea.classList.remove("text-visible");
    textArea.classList.add("text-transparent");
    textArea.style.backgroundColor = "";
    textArea.style.color = "";

    textArea.addEventListener("scroll", () => syncScroll(preElement, textArea));
  }, 0);

  textArea.addEventListener(
    "input",
    (e) => handleInputEvent(e, throttledHighlight),
  );

  textArea.addEventListener("paste", (e) => {
    handleInputEvent(e, throttledHighlight);
  });

  textArea.addEventListener("scroll", () => syncScroll(highlightDiv, textArea));
}

const textarea = document.getElementById(
  "codeTextarea",
) as HTMLTextAreaElement;
const highlightDiv = document.getElementById(
  "highlight_code",
) as HTMLDivElement;

const preElement = highlightDiv.querySelector("pre")!;

textarea.addEventListener("scroll", () => syncScroll(preElement, textarea));

RootElement.ready(async ($) => {
  const highlightDiv = $("highlight") as HTMLDivElement;
  const textArea = $("textarea") as HTMLTextAreaElement;
  const divLanguage = $("root") as HTMLDivElement;

  const language = divLanguage.dataset.language as string;

  let initialCode = textArea.dataset.initial;

  if (!initialCode) {
    initialCode = getInitialCode(language);
    inputStore.set(initialCode);
  }

  textArea.value = initialCode;

  try {
    const highlighter = await initializeHighlighter(language);

    setupEventListeners(textArea, highlightDiv, highlighter, language);
  } catch (error) {
    console.error("Initialization failed:", error);
  }
});
</script>

<style>
.text-transparent {
  color: transparent;
}

.text-visible {
  color: inherit;
}
</style>
