---
const { language } = Astro.props;
---

<div id="code-validity-indicator" class="flex items-center justify-center">
  <span
    class="text-green-500 flex items-center justify-start w-full gap-3"
    set:html={`<span class="text-green-500 flex items-center justify-start w-full gap-3"> <Check /> Valid ${language}</span>`}
  />
</div>

<script>
import { getFormatter } from "@/handlers";
import { inputStore } from "./store";

const validityElement = document.getElementById("code-validity-indicator");
const languageElement = document.querySelector("[data-language]");
// @ts-ignore
const language = languageElement?.dataset.language;

async function checkCodeValidity() {
  if (!language || !validityElement) return;

  const formatter = await getFormatter(language);
  const inputCode = inputStore.get();

  if (formatter && typeof formatter.validateCode === "function") {
    validityElement.style.display = "block";

    if (inputCode) {
      try {
        const isValid = await formatter.validateCode(inputCode);

        if (isValid) {
          validityElement.innerHTML =
            `<span class="text-green-500 flex items-center justify-start w-full gap-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg> Valid ${language}</span>`;
        } else {
          validityElement.innerHTML =
            `<span class="text-red-500 flex items-center justify-start w-full gap-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Invalid ${language}</span>`;
        }
      } catch (error) {
        console.error("Error validating code:", error);
        validityElement.innerHTML =
          `<span class="text-yellow-500 flex items-center justify-start w-full gap-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg> Validation Error</span>`;
      }
    }
  } else {
    // If validateCode is not available, hide the validity indicator
    validityElement.style.display = "none";
  }
}

// Initial check
checkCodeValidity();

// Listen for changes in the input store
inputStore.subscribe(checkCodeValidity);
</script>
