---
import { getInitialCode } from "@/lib/initialCode";
import { scope } from "simple:scope";
import { resetStores } from "./store";

interface Props {
  inputCode: string;
  language: string;
}

const { inputCode, language } = Astro.props;

const input = getInitialCode(language);

resetStores();
---

<div
  class="mt-10 h-[600px]"
  id="monaco-editor-container"
  data-language={language}
>
</div>

<script>
import { loadHighlighter } from "@/lib/highlighter";
import { getInitialCode } from "@/lib/initialCode";
import { shikiToMonaco } from "@shikijs/monaco";
import * as monaco from "monaco-editor";

self.MonacoEnvironment = {
  getWorker: function(workerId, label) {
    const getWorkerModule = (moduleUrl: string, label: string) => {
      return new Worker(self.MonacoEnvironment.getWorkerUrl(moduleUrl), {
        name: label,
        type: "module",
      });
    };

    switch (label) {
      case "json":
        return getWorkerModule(
          "/monaco-editor/esm/vs/language/json/json.worker?worker",
          label,
        );
      case "css":
      case "scss":
      case "less":
        return getWorkerModule(
          "/monaco-editor/esm/vs/language/css/css.worker?worker",
          label,
        );
      case "html":
      case "handlebars":
      case "razor":
        return getWorkerModule(
          "/monaco-editor/esm/vs/language/html/html.worker?worker",
          label,
        );
      case "typescript":
      case "javascript":
        return getWorkerModule(
          "/monaco-editor/esm/vs/language/typescript/ts.worker?worker",
          label,
        );
      default:
        return getWorkerModule(
          "/monaco-editor/esm/vs/editor/editor.worker?worker",
          label,
        );
    }
  },
};

const language = document.getElementById("monaco-editor-container")!
  .getAttribute("data-language")!;
const initialCode = getInitialCode(language);

const highlighter = await loadHighlighter(language);

monaco.languages.register({ id: language });

shikiToMonaco(highlighter, monaco);

monaco.editor.create(document.getElementById("monaco-editor-container")!, {
  value: initialCode,
  language: language,
  theme: "rose-pine-moon",
  minimap: { enabled: false },
});
</script>
