---
const sampleJson = `{
  "greeting": "Welcome to HappyFormatter!",
  "instructions": [
    "Type or paste JSON here",
    "Or choose a sample above",
    "HappyFormatter will format your code"
  ]
}`;

const { data = sampleJson } = Astro.props;
---

<RootElement>
  <div
    class="language-ts vp-adaptive-theme mini-playground transition-none"
    style="color-scheme: inherit;"
  >
    <div class="relative mt-10 min-h-[400px] max-h-[600px] overflow-auto">
      <div
        class="block max-h-[600px] overflow-auto min-h-[400px]"
        data-target="highlight"
      >
      </div>
      <textarea
        id="codeTextarea"
        class="whitespace-pre overflow-auto w-full h-full font-mono bg-transparent absolute inset-0 py-5 px-6 text-transparent caret-gray-600 tab-4 resize-none z-10 max-h-[600px] min-h-[400px]"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        data-target="textarea"
        spellcheck="false"
        data-initial={data}
      ></textarea>
    </div>
  </div>
</RootElement>
<script>
import { createHighlighter, type Highlighter } from "shiki";
import json from "shiki/langs/json.mjs";
import everforestLight from "shiki/themes/everforest-light.mjs";
import store from "./store";

const throttle = (func: Function, limit: number) => {
  let lastFunc: NodeJS.Timeout;
  let lastRan: number;
  return (...args: any[]) => {
    if (!lastRan) {
      func(...args);
      lastRan = Date.now();
    } else {
      clearTimeout(lastFunc);
      lastFunc = setTimeout(
        () => {
          if (Date.now() - lastRan >= limit) {
            func(...args);
            lastRan = Date.now();
          }
        },
        limit - (Date.now() - lastRan),
      );
    }
  };
};

const loadHighlighter = async (): Promise<Highlighter | null> => {
  try {
    const hl = await createHighlighter({
      langs: [json],
      themes: [everforestLight],
    });
    await hl.loadLanguage("json");
    return hl;
  } catch (error) {
    console.error("Error loading highlighter:", error);
    return null;
  }
};

const highlightJson = (json: string, hl: Highlighter | null): string => {
  if (hl) {
    return hl.codeToHtml(json, {
      lang: "json",
      theme: "everforest-light",
      transformers: [
        {
          pre(node) {
            node.properties.class = Array.isArray(node.properties.class)
              ? node.properties.class.concat("code")
              : ["code"];
          },
        },
      ],
    });
  }
  return json;
};

const highlighter = await loadHighlighter();

RootElement.ready(($) => {
  const highlightDiv = $("highlight") as HTMLDivElement;
  const textArea = $("textarea") as HTMLTextAreaElement;

  const initialJson = textArea.dataset.initial;

  if (!initialJson) {
    console.error("No initial JSON provided");
    return;
  }
  // Initialize Zustand state
  store.setState({ input: initialJson });

  const { input, setInput, setOutput } = store.getState();

  textArea.value = input;
  const highlightedCode = highlightJson(initialJson, highlighter);
  highlightDiv.innerHTML = highlightedCode;

  const throttledHighlight = throttle((code: string) => {
    const highlightedCode = highlightJson(code, highlighter);
    highlightDiv.innerHTML = highlightedCode;
    store.setState({ output: highlightedCode });
  }, 300);

  textArea.addEventListener("input", (e) => {
    const element = e.target as HTMLTextAreaElement;
    const code = element.value;

    if (code) {
      // Immediate update
      const immediateHighlightedCode = highlightJson(code, highlighter);
      highlightDiv.innerHTML = immediateHighlightedCode;

      // Update Zustand state
      store.setState({ input: code, output: immediateHighlightedCode });

      // Throttled update
      throttledHighlight(code);
    }
  });

  textArea.addEventListener("scroll", () => {
    highlightDiv.scrollTop = textArea.scrollTop;
    highlightDiv.scrollLeft = textArea.scrollLeft;
  });
});
</script>
