---
import { scope } from "simple:scope";
import Textarea from "../ui/textarea.astro";
const { data } = Astro.props;
---

<RootElement>
  <div
    class="language-ts vp-adaptive-theme mini-playground transition-none"
    style="color-scheme: inherit;"
  >
    <div class="relative mt-10 min-h-[400px] max-h-[600px] overflow-auto">
      <div
        class="block max-h-[600px] overflow-auto min-h-[400px]"
        data-target="highlight"
      >
      </div>
      <Textarea
        id="codeTextarea"
        class="whitespace-pre overflow-auto w-full h-full font-mono bg-transparent absolute inset-0 py-5 px-6 text-transparent caret-gray-600 tab-4 resize-none z-10 max-h-[600px] min-h-[400px]"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        data-initial={data}
        target={scope("textarea")}
      />
    </div>
  </div>
</RootElement>
<script>
import { highlightJson, loadHighlighter } from "@/lib/highlighter";
import { throttle } from "@/lib/throttle";
import { inputJSONStore } from "./store";

const highlighter = await loadHighlighter();

RootElement.ready(($) => {
  const highlightDiv = $("highlight") as HTMLDivElement;
  const textArea = $("textarea") as HTMLTextAreaElement;

  const initialJson = textArea.dataset.initial;

  if (!initialJson) {
    console.error("No initial JSON provided");
    return;
  }

  textArea.value = initialJson;
  const highlightedCode = highlightJson(initialJson, highlighter);
  highlightDiv.innerHTML = highlightedCode;

  const throttledHighlight = throttle((code: string) => {
    const highlightedCode = highlightJson(code, highlighter);
    highlightDiv.innerHTML = highlightedCode;
  }, 300);

  textArea.addEventListener("input", (e) => {
    const element = e.target as HTMLTextAreaElement;
    const code = element.value;

    if (code) {
      inputJSONStore.set(code);
      const immediateHighlightedCode = highlightJson(code, highlighter);
      highlightDiv.innerHTML = immediateHighlightedCode;

      throttledHighlight(code);
    }
  });

  textArea.addEventListener("scroll", () => {
    highlightDiv.scrollTop = textArea.scrollTop;
    highlightDiv.scrollLeft = textArea.scrollLeft;
  });
});
</script>
