---
import { highlightJson, initializeHighlighter } from "@/lib/highlighter";
import { scope } from "simple:scope";
import Textarea from "../ui/textarea.astro";

interface Props {
  inputJSON: string;
}

const { inputJSON: data } = Astro.props;

const InitialCodeHTMLString = async () => {
  const highlighter = await initializeHighlighter();
  return highlightJson(data, highlighter);
};

const highlightedHTML = await InitialCodeHTMLString();
---

<RootElement>
  <div
    class="language-ts vp-adaptive-theme mini-playground transition-none"
    style="color-scheme: inherit;"
  >
    <div class="relative mt-10 min-h-[400px] max-h-[600px] overflow-auto">
      <div
        class="block max-h-[600px] overflow-auto min-h-[400px]"
        data-target="highlight"
        id="highlight_code"
        set:html={highlightedHTML}
      />
      <Textarea
        id="codeTextarea"
        class="whitespace-pre overflow-auto w-full h-full font-mono bg-transparent absolute inset-0 py-5 px-6 text-transparent caret-gray-600 tab-4 resize-none z-10 max-h-[600px] min-h-[400px]"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        data-initial={data}
        target={scope("textarea")}
      />
    </div>
  </div>
</RootElement>
<script>
import { highlightJson, initializeHighlighter } from "@/lib/highlighter";
import { throttle } from "@/lib/throttle";
import type { Highlighter } from "shiki";
import { inputStore, jsonValidStore } from "./store";

function syncScroll(
  preElement: HTMLElement,
  textArea: HTMLTextAreaElement,
): void {
  preElement.scrollTop = textArea.scrollTop;
  preElement.scrollLeft = textArea.scrollLeft;
}

function handleInputEvent(
  e: Event,
  highlighter: Highlighter,
  highlightDiv: HTMLDivElement,
  throttledHighlight: (code: string) => void,
): void {
  const element = e.target as HTMLTextAreaElement;
  const code = element.value;

  if (code) {
    inputStore.set(code);
    const immediateHighlightedCode = highlightJson(code, highlighter);
    highlightDiv.innerHTML = immediateHighlightedCode;

    throttledHighlight(code);
  }

  try {
    JSON.parse(code);
    if (!jsonValidStore.get()) {
      jsonValidStore.set(true);
    } else {
      jsonValidStore.notify();
    }
  } catch (error) {
    jsonValidStore.set(false);
  }
}

function setupEventListeners(
  textArea: HTMLTextAreaElement,
  highlightDiv: HTMLDivElement,
  highlighter: Highlighter,
): void {
  const throttledHighlight = throttle((code: string) => {
    const highlightedCode = highlightJson(code, highlighter);
    highlightDiv.innerHTML = highlightedCode;

    const preElement = highlightDiv.querySelector("pre");

    if (!preElement) {
      console.error("No pre element found");
      return;
    }

    textArea.addEventListener("scroll", () => syncScroll(preElement, textArea));
  }, 300);

  textArea.addEventListener(
    "input",
    (e) => handleInputEvent(e, highlighter, highlightDiv, throttledHighlight),
  );

  textArea.addEventListener("paste", (e) => {
    handleInputEvent(e, highlighter, highlightDiv, throttledHighlight);
  });

  textArea.addEventListener("scroll", () => syncScroll(highlightDiv, textArea));
}

RootElement.ready(async ($) => {
  const highlightDiv = $("highlight") as HTMLDivElement;
  const textArea = $("textarea") as HTMLTextAreaElement;

  const initialJSON = textArea.dataset.initial;

  if (!initialJSON) {
    console.error("No initial JSON provided");
    return;
  }

  textArea.value = initialJSON;

  try {
    const highlighter = await initializeHighlighter();

    setupEventListeners(textArea, highlightDiv, highlighter);
  } catch (error) {
    console.error("Initialization failed:", error);
  }
});
</script>
