---
import { Button } from "../ui/button";
import CodePlayground from "./CodePlayground.astro";

import store from "./store";

const handleFormatJson = () => {
  const json = store.getState().input;
  const formattedJson = JSON.stringify(JSON.parse(json), null, 2);

  console.log("Formatted JSON:", formattedJson);

  store.setState({ output: formattedJson });
};
---

<RootElement>
  <div class="flex flex-col items-center justify-center h-screen bg-background">
    <div class="w-full max-w-6xl bg-card p-6 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-14">
        <div class="relative">
          <CodePlayground />
          <div>"Valid Json"</div>
        </div>
        <div class="relative">
          <CodePlayground readOnly />
        </div>
      </div>
      <div class="flex justify-center mt-6">
        <Button onClick={handleFormatJson}>Format JSON</Button>
      </div>
    </div>
  </div>
</RootElement>
