---
import { scope } from "simple:scope";
import Button from "../ui/button.astro";
import CodePlayground from "./CodePlayground.astro";
import JsonValidity from "./JsonValidity.astro";
import OutputPlayground from "./OutputPlayground.astro";
import { formattedJSONStore, inputJSONStore } from "./store";
const inputJSON = inputJSONStore.get();
const formattedJSON = formattedJSONStore.get();
---

<RootElement>
  <div
    class="flex flex-col items-center justify-center min-h-screen bg-background p-4 sm:p-6"
  >
    <div class="w-full max-w-6xl bg-card p-4 sm:p-6 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 gap-6 sm:gap-14 md:grid-cols-2">
        <div class="relative">
          <CodePlayground inputJSON={inputJSON} />
          <JsonValidity />
        </div>
        <div class="relative">
          <OutputPlayground formattedJSON={formattedJSON} />
        </div>
      </div>
      <div class="flex justify-center mt-6">
        <Button size="lg" target={scope("format")} variant="outline"
          >Format</Button
        >
        <Button size="lg" target={scope("minify")} variant="outline"
          >Minify</Button
        >
      </div>
    </div>
  </div>
</RootElement>

<script>
  import { JSONFormatter } from "@/handlers/formatters/json";
  import { JSONMinifier } from "@/handlers/minifiers/json";
  import { formattedJSONStore, inputJSONStore, jsonValidStore } from "./store";

  const formatter = new JSONFormatter();

  RootElement.ready(($) => {
    $("format").addEventListener("click", async () => {
      const inputJSON = inputJSONStore.get();
      try {
        const formatted = await formatter.formatCode(inputJSON);
        formattedJSONStore.set(formatted);
      } catch (error) {
        console.error("Invalid JSON:", error);
      }
    });

    $("minify").addEventListener("click", async () => {
      const inputJSON = inputJSONStore.get();
      try {
        const minifier = new JSONMinifier();
        const minified = await minifier.minifyCode(inputJSON);
        formattedJSONStore.set(minified);
      } catch (error) {
        console.error("Invalid JSON:", error);
      }
    });

    jsonValidStore.subscribe((isValid) => {
      if (isValid) {
        const inputJSON = inputJSONStore.get();

        formatter
          .formatCode(inputJSON)
          .then((formatted) => {
            formattedJSONStore.set(formatted);
          })
          .catch((error) => {
            console.error("Invalid JSON:", error);
          });
      }
    });
  });
</script>
