---
import CodePlayground from "./CodePlayground.astro";

const inputJSON = `{
  "greeting": "Welcome to HappyFormatter!",
  "instructions": [
    "Type or paste JSON here",
    "Or choose a sample above",
    "HappyFormatter will format your code"
  ]
}`;

const formattedJSON = "";
---

<RootElement>
  <div class="flex flex-col items-center justify-center h-screen bg-background">
    <div class="w-full max-w-6xl bg-card p-6 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-14">
        <div class="relative">
          <CodePlayground data={inputJSON} />
          <div>"Valid Json"</div>
        </div>
        <div class="relative">
          <CodePlayground readOnly data={formattedJSON} />
        </div>
      </div>
      <div class="flex justify-center mt-6">
        <button class="btn">Format JSON</button>
      </div>
    </div>
  </div>
</RootElement>
