---
import { scope } from "simple:scope";
import Button from "../ui/button.astro";
import CodePlayground from "./CodePlayground.astro";
import OutputPlayground from "./OutputPlayground.astro";
import { formattedJSONStore, inputJSONStore } from "./store";
const inputJSON = inputJSONStore.get();

const formattedJSON = formattedJSONStore.get();
---

<RootElement>
  <div class="flex flex-col items-center justify-center h-screen bg-background">
    <div class="w-full max-w-6xl bg-card p-6 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-14">
        <div class="relative">
          <CodePlayground data={inputJSON} />
          <div>"Valid Json"</div>
        </div>
        <div class="relative">
          <OutputPlayground readOnly data={formattedJSON} />
        </div>
      </div>
      <div class="flex justify-center mt-6">
        <Button size="lg" target={scope("btn")} variant="outline"
        >Format</Button>
      </div>
    </div>
  </div>
</RootElement>

<script>
import { formattedJSONStore, inputJSONStore } from "./store";

function formatJSON() {
  const inputJSON = inputJSONStore.get();
  try {
    const parsedJSON = JSON.parse(inputJSON);
    const formatted = JSON.stringify(parsedJSON, null, 2);
    formattedJSONStore.set(formatted);
  } catch (error) {
    console.error("Invalid JSON:", error);
  }
}

RootElement.ready(($) => {
  $("btn").addEventListener("click", () => {
    formatJSON();
  });
});
</script>
