---
import { getFormatter } from "@/handlers";
import { highlightCode, initializeHighlighter } from "@/lib/highlighter";
import { getInitialCode } from "@/lib/initialCode";
import { scope } from "simple:scope";
import Textarea from "../ui/textarea.astro";

interface Props {
  formattedCode: string;
  language: string;
  themes: { [key: string]: string };
}

const { formattedCode, language, themes } = Astro.props;

const initialCode = getInitialCode(language);

const InitialCodeHTMLString = async () => {
  const highlighter = await initializeHighlighter(language, themes);

  const formatter = await getFormatter(language);

  const updatedCode = await formatter.formatCode(initialCode);
  return highlightCode(updatedCode, highlighter, language, themes);
};

const highlightedHTML = await InitialCodeHTMLString();
---

<RootElement>
  <div
    class="transition-none"
    style="color-scheme: inherit;"
    data-target="root"
    data-language={language}
  >
    <div class="relative mt-10 min-h-[400px] max-h-[600px] overflow-auto">
      <div
        class="block max-h-[600px] overflow-auto min-h-[400px]"
        data-target="highlight"
        id="highlightOutput"
        set:html={highlightedHTML}
      />
      <Textarea
        class="whitespace-pre overflow-auto w-full h-full font-mono bg-transparent absolute inset-0 py-5 px-6 text-transparent caret-gray-600 tab-4 resize-none z-10 max-h-[600px] min-h-[400px]"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        id="outputTextarea"
        target={scope("textarea")}
        spellcheck="false"
        readonly
        data-initial={formattedCode}
        value={formattedCode}
      />
    </div>
  </div>
</RootElement>

<script>
import { highlightCode, initializeHighlighter } from "@/lib/highlighter";
import { getInitialCode } from "@/lib/initialCode";
import { formattedStore } from "./store";

function syncScroll(textArea: HTMLElement, highlightDiv: HTMLElement): void {
  const preElement = highlightDiv.querySelector("pre");

  if (!preElement) {
    console.error("No pre element found");
    return;
  }

  textArea.addEventListener("scroll", () => {
    preElement.scrollTop = textArea.scrollTop;
    preElement.scrollLeft = textArea.scrollLeft;

    highlightDiv.scrollTop = textArea.scrollTop;
    highlightDiv.scrollLeft = textArea.scrollLeft;
  });
}

RootElement.ready(async ($: any) => {
  const highlightDiv = $("highlight") as HTMLDivElement;
  const textArea = $("textarea") as HTMLTextAreaElement;
  const divElement = $("root") as HTMLElement;

  const language = divElement.dataset.language as string;

  const themes = {
    light: "everforest-light",
    dark: "everforest-dark",
  };

  try {
    const highlighter = await initializeHighlighter(language, themes);

    let initialCode = textArea.dataset.initial;
    if (!initialCode) {
      initialCode = getInitialCode(language);
    }

    if (initialCode) {
      textArea.value = initialCode;
    }

    const highlightedCode = highlightCode(
      initialCode,
      highlighter,
      language,
      themes,
    );
    highlightDiv.innerHTML = highlightedCode;
    syncScroll(textArea, highlightDiv);

    formattedStore.subscribe((formattedCode: string) => {
      if (!formattedCode) {
        return;
      }
      textArea.value = formattedCode;

      const highlightedCode = highlightCode(
        formattedCode,
        highlighter,
        language,
        themes,
      );

      highlightDiv.innerHTML = highlightedCode;
      syncScroll(textArea, highlightDiv);
    });
  } catch (error) {
    console.error("Initialization failed:", error);
  }
});
</script>
