---
import { scope } from "simple:scope";
import Textarea from "../ui/textarea.astro";
const { formattedJSON } = Astro.props;
---

<RootElement>
  <div
    class="language-ts vp-adaptive-theme mini-playground transition-none"
    style="color-scheme: inherit;"
  >
    <div class="relative mt-10 min-h-[400px] max-h-[600px] overflow-auto">
      <div
        class="block max-h-[600px] overflow-auto min-h-[400px]"
        data-target="highlight"
      >
      </div>
      <Textarea
        id="codeTextarea"
        class="whitespace-pre overflow-auto w-full h-full font-mono bg-transparent absolute inset-0 py-5 px-6 text-transparent caret-gray-600 tab-4 resize-none z-10 max-h-[600px] min-h-[400px]"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        target={scope("textarea")}
        spellcheck="false"
        readonly
        data-initial={formattedJSON}
      />
    </div>
  </div>
</RootElement>
<script>
import { highlightJson, loadHighlighter } from "@/lib/highlighter";
import { formattedJSONStore } from "./store";

const highlighter = await loadHighlighter();

RootElement.ready(($) => {
  const highlightDiv = $("highlight") as HTMLDivElement;
  const textArea = $("textarea") as HTMLTextAreaElement;

  formattedJSONStore.subscribe((formattedJSON: string) => {
    const highlightDiv = $("highlight") as HTMLDivElement;
    const textArea = $("textarea") as HTMLTextAreaElement;

    textArea.value = formattedJSON;
    const highlightedCode = highlightJson(formattedJSON, highlighter);
    highlightDiv.innerHTML = highlightedCode;
  });

  textArea.addEventListener("scroll", () => {
    highlightDiv.scrollTop = textArea.scrollTop;
    highlightDiv.scrollLeft = textArea.scrollLeft;
  });
});
</script>
