---
import LanguageIcon from "@/icons/languages/LanguageIcon.astro";

interface Props {
  language: string;
}

const { language } = Astro.props;
---

<div
  class="flex flex-col items-center justify-center space-y-4 py-8 bg-gradient-to-r rounded-lg shadow-lg"
>
  <div class="flex items-center space-x-4">
    <LanguageIcon icon={language.toLowerCase()} />
    <h1 class="text-4xl font-bold">
      Format or minify {
        language.split("-").map((word) =>
          word.charAt(0).toUpperCase() + word.slice(1)
        ).join(" ")
      }
    </h1>
  </div>
  <p class="text-lg">
    Format or minify your code in {language} locally in your browser using
    WebAssembly.
  </p>
  <a
    href="#formatter"
    class="mt-4 px-6 py-2 cursor-pointer bg-white text-blue-500 font-semibold rounded-lg shadow-md hover:bg-gray-100 transition duration-300"
  >
    Get Started
  </a>
</div>
