---
type ReactIslandKind = "formatter" | "faq" | "faq-enhanced" | "utility-tool";

interface Props {
  kind: ReactIslandKind;
  props: Record<string, unknown>;
}

const { kind, props } = Astro.props;
const formatterIslandClass = "block min-h-[52rem] lg:min-h-[46rem]";
---

<div
  data-hf-react-island={kind}
  data-hf-react-props={JSON.stringify(props)}
  class:list={[kind === "formatter" && formatterIslandClass]}
>
</div>

<script>
import "@/components/islands/reactIslands";
</script>
