---
import { cn } from "@/lib/utils";

const buttonVariants = {
  default: "hf-button-default",
  destructive: "hf-button-destructive",
  outline: "hf-button-outline",
  secondary: "hf-button-secondary",
  ghost: "hf-button-ghost",
  link: "hf-button-link",
  success: "hf-button-success",
};

const buttonSizes = {
  default: "hf-button-md",
  xs: "hf-button-xs",
  sm: "hf-button-sm",
  lg: "hf-button-lg",
  icon: "hf-button-icon",
  "icon-xs": "hf-button-icon-xs",
  "icon-sm": "hf-button-icon-sm",
  "icon-lg": "hf-button-icon-lg",
};

interface Props {
  variant?: keyof typeof buttonVariants;
  size?: keyof typeof buttonSizes;
  className?: string;
  target?: string;
  [key: string]: any;
}

const { variant = "default", size = "default", className, ...props } =
  Astro.props;
---

<button
  class={cn(
    "hf-button",
    buttonVariants[variant],
    buttonSizes[size],
    className,
  )}
  {...props}
>
  <slot />
</button>
